*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(225, 230, 230);
line-height: 1.6;
}

.hero
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(113, 131, 146);
  color: white;
  gap: 30px;
}

.hero h1{
  margin-left: 5%;
}

#profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}

.navbar
{
  background-color: #16324f;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: sticky;
  top: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 30px auto;
}

.card {
  background-color: white;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1f4e79;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}


.skill-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.skill-list li {
  background-color: #e8f1f8;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}

.contact-form {
  max-width: 500px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #1f4e79;
}

button {
  background-color: #1f4e79;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #16324f;
}

.footer {
  background-color: #16324f;
  color: white;
  text-align: center;
  padding: 25px;
}